/*
|--------------------------------------------------------------------------
| Marvel Catalog color schema
|--------------------------------------------------------------------------
*/
    $BACKGROUND_COLOR: #282828;
    $RED_DETAILS: #EC1D24;

/*
|--------------------------------------------------------------------------
| BREAKPOINTS
|--------------------------------------------------------------------------
*/

// Usage example:  @media #{$media-tablet}

    $BREAKPOINT-DESK: 		        "only screen and (min-width: 1280px)";
    $BREAKPOINT-TABLET-LAND: 	    "only screen and (min-width: 975px)";
    $BREAKPOINT-TABLET: 		    "only screen and (min-width: 600px)";
    $BREAKPOINT-MOBILE-LAND: 		"only screen and (min-width: 480px)";



/*
|--------------------------------------------------------------------------
| IMAGES
|--------------------------------------------------------------------------
*/

    $MAGAZINE_TEST: '../../assets/imgs/test.jpg';