body {
    margin: 0;
}
.page-content {
    padding-top: 200px;
    min-height: 100vh;
    padding-bottom: 100px;
    background-color: $BACKGROUND_COLOR;

    &__body {
        max-width: 600px;
        width: calc(100% - 50px);
        margin: 0 auto;

        @media #{$BREAKPOINT-TABLET-LAND} {
            max-width: 740px;
        }
    }

    p {
        font-family: 'Roboto Condensed Light';
        font-size: 18px;
        color: white;
        text-align: justify;
    }

    h1 {
        font-family: 'Roboto Condensed Bold';
        color: white;
        font-size: 25px;
    }
}